.App {
 text-align: center;
}

.menu {
 background-color: hsl(217, 71%, 53%);
 color: white;
}

.container {
 background-color: hsl(0, 0%, 96%);
}

.menu-list{
  color: white;
  margin-top: 5em;
}

.menu-label > a{
  color: white;
  font-size: 25px;
}

.menu-list > a{
  color: white;
}

#landing-image {
  margin-top: 2em;
}

#admin-avatar {
  max-width: 100px;
}