.App {
 text-align: center;
}

.menu {
 background-color: hsl(217, 71%, 53%);
 color: white;
 height: 100vh; 
}

.container {
 background-color: hsl(0, 0%, 96%);
 height: 100vh; 
}

.menu-list{
  color: white;
  margin-top: 5em;
}

.menu-label > a{
  color: white;
  font-size: 25px;
}

.menu-list > a{
  color: white;
}

.workorder-form {
	width: 50%;
	padding: 2em;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.workorder-item {
	margin-bottom: 1.5em;
	padding: 1.5em;
	width: 60vw;
}

.workorder-item-footer {
	display: flex;
	justify-content: space-between;
}
.workorder-content {
	padding: 1.5em;
	max-width: 60%;
	margin: auto;
}

.file-container {
	color: black;
	background-color: cornflowerblue;
}