.App {
 text-align: center;
}

.menu {
position: fixed;
 background-color: hsl(217, 71%, 53%);
 color: white;
 min-height: 75vh;
}

.container {
 background-color: hsl(0, 0%, 96%);
}

.menu-list{
  color: white;
  margin-top: 5em;
}

.menu-label > a{
  color: white;
  font-size: 25px;
}

.menu-list > a{
  color: white;
}

#landing-image {
  margin-top: 2em;
}

#admin-avatar {
  max-width: 100px;
}

.workorder-form {
	width: 50%;
	padding: 2em;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.workorder-item {
	margin-bottom: 1.5em;
	padding: 1.5em;
	width: 60vw;
}

.workorder-item-footer {
	display: flex;
	justify-content: space-between;
}

.workorder-content {
	padding: 1.5em;
	max-width: 60%;
	margin: auto;
}

.file-container {
	color: black;
	background-color: cornflowerblue;
}
.workorder-filter{
	/* position: fixed; */
	z-index: 5;
	width: 60vw;
	padding: 3em;
	margin-bottom: 2em;
}

.date-picker {
	display: flex;
	justify-content: space-around;
}