/* Our CSS */
html{
	box-sizing: border-box;
}

/* General css */

.App {

}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(0, 0%, 96%);
	margin-left: 18em;
}
 
.title {
	font-size: 2em;
}

hr {
	margin: 0;
}


/* Menu sidebar css */

.menu {
 /* position: fixed; */
 background-color: hsl(217, 71%, 53%);
 color: white;
 min-height: 75vh;
 height: 100vh;
 width: 20vw;
 text-align: center;
 position: fixed;
 z-index: 6;
}

.menu-list {

 color: white;
 margin-top: 5em;
}

.menu-label > a {
 color: white;
 font-size: 25px;
}

.menu-list > a {
 /* color: white; */
 color: blue;
}

#landing-image {
 margin-top: 2em;
}

/* #admin-avatar > img {
 max-width: 100px;
} */

.profile {
	border-radius: 70%;
	height: 4em;
	margin-right: 0.5em;
	border: solid white;
}
.profile-name {
	color: white;
}

.menu-header {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 1em; */
	padding: 1.3em;
}

.new-menu-list {
	display: flex;
	justify-content: center;
}

/* Workorder form */

.workorder-form {
 width: 50%;
 padding: 2em;
}

/* workorder items */

.workorder-filter {
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 5;
	width: 79vw;
	padding: 2em;
	/* margin-bottom: 2em; */
	right: 0;
}

.filters{
	display: flex;
}

.filter-input{
	width: 30%;
	padding: 0 1em 0 0;
}

.from-to {
	display: flex;
	padding-right: 0.5em;
	align-items: center;
}

.date-picker {
	display: flex;
	justify-content: space-between;
	font-size: 3em; 
}

.date-input {
	height: 3em;
}

.date-label {
	font-size: 0.4em;
	padding-right: 0.5em;
}

.workorder-labels {
	position: fixed;
	display: flex;
	justify-content: space-between;
	margin-top: 11em;
	background-color: lightgray;
	z-index: 5;
	width: 79vw;
	margin-bottom: 2em;
	right: 0;
	padding: 0 4em;
	text-align: center;
	color: black;
}

.workorder-item {
 display: flex;
 margin-bottom: 0.5em;
 padding: 1.5em;
 width: 79vw;
 border-radius: 10px;
}

.workorder-field {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	width: 20%;
}

.workorder-container {
	margin-top: 13em;
}

.file-container {
 color: black;
 background-color: cornflowerblue;
}

/* Inventory css */
.inventory-filter {
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 5;
	width: 79vw;
	padding: 2em;
	/* margin-bottom: 2em; */
	right: 0;
	top: 0;
}

.inventory-container {
	margin-top: 13em;
}

.inventory-item {
	display: flex;
	margin-bottom: 0.5em;
	padding: 1em 0;
	width: 79vw;
	border-radius: 10px;
}

.inventory-labels {
	position: fixed;
	display: flex;
	justify-content: space-between;
	margin-top: 11em;
	background-color: lightgray;
	z-index: 5;
	width: 79vw;
	margin-bottom: 2em;
	right: 0;
	padding: 0 7em;
	text-align: center;
	color: black;
}

.inventory-field {
	display: flex;
	align-items: center;
	width: 20vw;
	justify-content: center;
}

.inventory-filter-input{
	width: 50%;
	padding: 0 1em 0 0;
}
