/* Our CSS */
html{
	box-sizing: border-box;
}

/* General css */

.App {

}

/* .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(0, 0%, 96%);
	margin-left: 15vw;
} */
 
.title {
	font-size: 2em;
}

hr {
	margin: 0;
	width: 11.5vw;
	margin-left: 1.5vw;
}

.filter-line {
	background-color: blue;
	margin: 0;
	/* width: 11.5vw; */
	margin-left: 1.5vw;
}


/* Menu sidebar css */

.menu {
 position: fixed;
 background-color: hsl(217, 71%, 53%);
 color: white;
 min-height: 75vh;
 height: 100vh;
 width: 15vw;
 text-align: center;
 z-index: 6;
 top: 0;
}

.menu-list {

 color: white;
 margin-top: 5em;
}

.menu-label > a {
 color: white;
 font-size: 25px;
}

.menu-list > a {
 /* color: white; */
 color: blue;
}

#landing-image {
 margin-top: 2em;
}

/* #admin-avatar > img {
 max-width: 100px;
} */

.profile {
	border-radius: 70%;
	height: 4em;
	margin-right: 0.5em;
	border: solid white;
}
.profile-name {
	color: white;
}

.menu-header {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 1em; */
	padding: 1.2em;
}

.new-menu-list {
	display: flex;
	justify-content: center;
}

/* Workorder form */

.workorder-form {
	display: flex;
	justify-content: space-between;
	height: 100vh;
 	padding: 2em 4em;
 	margin-left: 15vw;
}

.form-content {
	width: 40%;
}

.form-image {
	width: 50%;
	margin-right: 5%;
}

.form-image > img {
	/* height: 30em; */
	width: 100%;
}

.select {
	width: 100%;
}

select {
	width: 100%;
}

.submit {
	margin-top: 1em;
	width: 100%;
}


/* workorder items */

.workorder-filter {
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 5;
	width: 85vw;
	padding: 2em;
	right: 0;
	top: 0;
}

.filters{
	display: flex;
}

.filter-input{
	width: 30%;
	padding: 0 1em 0 0;
}

.from-to {
	display: flex;
	padding-right: 0.2em;
	align-items: center;
}

.date-picker {
	display: flex;
	justify-content: space-between;
	font-size: 3em; 
}

.date-label {
	font-size: 0.4em;
	padding-right: 0.2em;
}

.workorder-labels {
	position: fixed;
	display: flex;
	justify-content: space-between;
	margin-top: -1em;
	background-color: rgb(235, 233, 233);
	z-index: 5;
	width: 85vw;
	right: 0;
	padding: 0 6em;
	text-align: center;
	box-shadow: 5px 9px 15px 4px rgba(0,0,0,0.07);
}

.workorder-labels > span > strong {
	color: rgb(113, 110, 110);
	
}

.workorder-item {
 display: flex;
 padding: 1em 1em;
 width: 85vw;
 border-bottom: solid 0.1em rgba(199, 198, 198, 0.797);
 /* border-radius: 5px; */
 box-shadow: 5px 9px 15px 4px rgba(0,0,0,0.25);
}

.workorder-field {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15vw;
	text-align: center;
}

.workorder-container {
	margin-top: 12.5em;
	margin-left: 15vw;
}

.file-container {
 color: black;
 background-color: cornflowerblue;
}

/* Inventory css */
.inventory-filter {
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 5;
	width: 85vw;
	padding: 2em;
	/* margin-bottom: 2em; */
	right: 0;
	top: 0;
}

.inventory-container {
	margin-top: 12.5em;
	margin-left: 15vw;
}

.inventory-item {
	display: flex;
	/* margin-bottom: 0.5em; */
	padding: 1em 0;
	justify-content: space-between;
	width: 85vw;
	/* border-radius: 10px; */
	border-bottom: solid 0.1em rgba(199, 198, 198, 0.797);
	box-shadow: 5px 9px 15px 4px rgba(0,0,0,0.25);
}

.inventory-labels {
	position: fixed;
	display: flex;
	justify-content: space-between;
	margin-top: -1em;
	background-color: rgb(235, 233, 233);
	z-index: 5;
	width: 85vw;
	margin-bottom: 2em;
	right: 0;
	padding: 0 7em;
	text-align: center;
	color: black;
	box-shadow: 5px 9px 15px 4px rgba(0,0,0,0.07);
}

.inventory-labels > span > strong {
	color: rgb(113, 110, 110);
	
}

.inventory-field {
	display: flex;
	align-items: center;
	width: 20vw;
	justify-content: center;
}

.inventory-filter-input{
	width: 50%;
	padding: 0 1em 0 0;
}
